:root {
  --primarily-color: #5c715e;
  --secondary-color: #ddeedf;
  --primary-font: Didot;
  --secondary-font: Helvetica, sans-serif;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: bold;
  color: var(--primarily-color);
  margin: 0;
}

h1 {
  font-family: Didot;
  font-weight: bold;
  color: var(--primarily-color);
}

.hero h2 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: var(--primarily-color);
  font-weight: normal;
  line-height: 2;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: none;
}

.button-container button {
  text-decoration: none;
  color: white;
  background-color: #5c715e;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  font-family: var(--secondary-front);
  cursor: grab;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

button:hover {
  background-color: #b6cdbd;
  opacity: 0.5;
  color: var(--primariy-color);
}
